appdirs==1.4.4
attrs==21.2.0
black==19.3b0
click==8.0.1
entrypoints==0.3
flake8==3.7.8
importlib-metadata==4.5.0
mccabe==0.6.1
more-itertools==8.8.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.7
pytest==5.3.0
toml==0.10.2
typing-extensions==3.10.0.0
wcwidth==0.2.5
zipp==3.4.1
